<div id="<%= dom_id stop %>">
  <p>
    <strong>Stop name:</strong>
    <%= stop.Stop_Name %>
  </p>

  <p>
    <strong>Gps x:</strong>
    <%= stop.GPS_X %>
  </p>

  <p>
    <strong>Gps y:</strong>
    <%= stop.GPS_Y %>
  </p>

  <p>
    <strong>Front of card:</strong>
    <%= stop.Front_Of_Card %>
  </p>

  <p>
    <strong>Back of card:</strong>
    <%= stop.Back_Of_Card %>
  </p>

  <p>
    <strong>Hidden card:</strong>
    <%= stop.Hidden_Card %>
  </p>



</div>
