<p style="color: green"><%= notice %></p>

<%= render @category %>

<h2>Associated Stops</h2>
  <% if @category.stops.empty? %>
  <p> No stops available for this category.</p>
  <% else %>
  <ul>
    <% @category.stops.each do |category| %>
      <li><%= category.Stop_Name %></li>
    <% end %>
  </ul>
  <% end %>


<div>

  <%= link_to "Edit this category", edit_category_path %> |
  <%= link_to "Back to categories", categories_path %>

  <%= button_to "Destroy this category", @category, method: :delete %>
</div>
