<p style="color: green"><%= notice %></p>



<% if @category.present? %>
  <h1><%= @category.CategoryName %></h1>
  <%= render @category %>
  <%= render @category.stops %>
<% end %>

<div>

  <%= link_to "Edit this category", edit_category_path %> |
  <%= link_to "Back to categories", categories_path %>

  <%= button_to "Destroy this category", @category, method: :delete %>
</div>
